:root {
  --dark-blue: hsl(215, 32%, 27%);
  --darker-blue: hsl(216, 50%, 16%);
  --darkest-blue: hsl(217, 54%, 11%);
  --light-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-overlay: hsla(178, 100%, 50%, 0.5);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--darkest-blue);
}

/* Hidden h1 for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

main {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container {
  width: 100%;
  max-width: 320px;
  border-radius: 1rem;
  background-color: var(--darker-blue);
  box-shadow: 1px 1px 40px 2px var(--darker-blue);
  padding: 1.5rem;
}

.card__img-container {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.card__img-overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in 0.3s;
  background-color: var(--cyan-overlay);
}

.card__img-overlay-container:hover {
  opacity: 1;
  cursor: pointer;
}

.card__heading {
  color: var(--white);
  font-size: 1.25rem;
  padding: 1.25rem 0;
}

.card__text {
  color: var(--light-blue);
  font-size: 16px;
  font-weight: 300;
}

.card__data-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  font-size: 0.875rem;
}

.card__value {
  color: var(--cyan);
  font-weight: 400;
  letter-spacing: 1px;
}

/* Method 1: Adding SVG with Pseudo-Element */
.card__value:before {
  display: inline-flex;
  content: '';
  background-image: url('../assets/images/icon-ethereum.svg');
  background-size: 10px 18px;
  width: 10px;
  height: 18px;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}

.card__timestamp {
  color: var(--light-blue);
}

/* Method 2: Adding SVG with Pseudo-Element */
.card__timestamp:before {
  content: url('../assets/images/icon-clock.svg');
  vertical-align: middle;
  zoom: 90%;
  margin-right: 0.375rem;
}

.card__divider {
  border: none;
  background-color: var(--dark-blue);
  color: #000;
  height: 1px;
  margin: 1.25rem 0;
}

.card__attribution-row {
  display: flex;
  align-items: center;
}

.card__attribution-img {
  width: 40px;
  margin-right: 0.75rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card__attribution {
  color: var(--light-blue);
  font-size: 0.875rem;
  font-weight: 300;
}

.card__attribution span {
  color: var(--white);
  margin-left: 0.125rem;
}

.card__heading:hover,
.card__attribution span:hover {
  color: var(--cyan);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background: var(--dark-blue);
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.fm-attribution {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-attribution,
.fm-attribution a {
  color: var(--white);
}
